@import "modern-normalize.min.css";

@font-face {
  font-family: "PT Sans";
  src: url("../font/pt-sans-v12-latin-regular.woff2") format("woff2");
}

.container2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  background-color: skyblue;
}
main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.sidebar {
  background-color: cornflowerblue;
}
.content2 {
  background-color: beige;
  flex-grow: 1;
}
.sidebar2 {
  background-color: turquoise;
}
footer {
  background-color: orange;
}

.fc {
  display: flex;
  flex-direction: row;
  border: thin solid black;
}
.it1{
  background-color: red;
  flex-basis: 20rem;
}
.it2{
  background-color: blue;
}
.it3{
  background-color: green;
}

.c3 {
  width: 30rem;
}
.f1 {
  background-color: red;
  width: 3rem;
  height: 3rem;
  float: right;
}
.f2 {
  background-color: blue;
  width: 3rem;
  height: 7rem;
  float: left;
}
.content1 {
  clear: left;
}

.clear {
  clear: both;
}

.c1 {
  background-color: red;
  width: 10rem;
  height: 10rem;
  position: relative;
  z-index: 10;
}
.c2 {
  background-color: blue;
  width: 10rem;
  height: 10rem;
  position: relative;
  z-index: 5;
}
.i1 {
  background-color: green;
  width: 5rem;
  height: 5rem;
  position: relative;
  top: 7.5rem;
}
.i2 {
  background-color: orange;
  width: 5rem;
  height: 5rem;
  position: relative;
  top: -2.5rem;
}

body {
  font-family: "PT Sans", sans;
  font-size: 18px;
}

table tr:nth-child(even) {
  background-color: #eee;
}

img.face {
  width: 25vw;
  border-radius: 50%;
}

.text-ellipsisx {
  width: 30rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p {
  text-indent: 2rem;
}

.pre {
  max-height: 8rem;
  overflow-y: auto;
}

.two-col {
  display: flex;
}

.first-col, .second-col {
  width: 30rem;
  white-space: normal;
}

pre {
  counter-reset: lnc;
}

pre:not(.not-numbered) code > span::before {
  counter-increment: lnc;
  content: counter(lnc);
  display: inline-block;
  width: 3rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  text-align: right;
  border-right: thin solid blue;
}

figure img {
  display: block;
  margin:auto;
  width: 50%;
  border: 2px solid black;
}

div.red, span.red {
  color: red;
}

:root {
  counter-reset: h1c;
}

h1 {
  counter-reset: h2c;
}

h2 {
  counter-reset: h3c;
}

h1:before {
  counter-increment: h1c;
  content: counter(h1c) ". ";
}

h2:before {
  counter-increment: h2c;
  content: counter(h1c) "." counter(h2c) ". ";
}

h3:before {
  counter-increment: h3c;
  content: counter(h1c) "." counter(h2c) "." counter(h3c) ". ";
}

:root {
  --spacing: 1rem;
}

.h1 {
  font-size: calc(var(--spacing) * 2);
  color: rgb(0 255 0 / 0.5);
}

.external-link::after {
  content: ' (external)';
}
