@import "modern-normalize.min.css";

@font-face {
  font-family: "PT Sans";
  src: url("../font/pt-sans-v12-latin-regular.woff2") format("woff2");
}

body {
  font-family: "PT Sans", sans;
  font-size: 18px;
}

table tr:nth-child(even) {
  background-color: #eee;
}

img.face {
  width: 25vw;
  border-radius: 50%;
}

.text-ellipsisx {
  width: 30rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h1, h2, h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

p {
  text-indent: 2rem;
}

pre {
  max-height: 8rem;
  overflow-y: auto;
}

.two-col {
  display: flex;
}

.first-col, .second-col {
  width: 30rem;
  white-space: normal;
}

pre {
  counter-reset: lnc;
}

pre:not(.not-numbered) code > span::before {
  counter-increment: lnc;
  content: counter(lnc);
  display: inline-block;
  width: 3rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  text-align: right;
  border-right: thin solid blue;
}

figure img {
  display: block;
  margin:auto;
  width: 50%;
  border: 2px solid black;
}

div.red, span.red {
  color: red;
}

:root {
  counter-reset: h1c;
}

h1 {
  counter-reset: h2c;
}

h2 {
  counter-reset: h3c;
}

h1:before {
  counter-increment: h1c;
  content: counter(h1c) ". ";
}

h2:before {
  counter-increment: h2c;
  content: counter(h1c) "." counter(h2c) ". ";
}

h3:before {
  counter-increment: h3c;
  content: counter(h1c) "." counter(h2c) "." counter(h3c) ". ";
}

:root {
  --spacing: 1rem;
}

.h1 {
  font-size: calc(var(--spacing) * 2);
  color: rgb(0 255 0 / 0.5);
}

.external-link::after {
  content: ' (external)';
}
